*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}
body{
    background: linear-gradient(to right,rgb(40, 185, 233),rgb(230, 41, 72));

} 
.main{
    background-color: white;
    border: 2px  solid white;
    text-align: center;
    margin-left: 60vh;
    margin-top: 20vh;
    display: inline-block;
    border-radius: 20px;
    /* padding: 40px; */
    height: 59em;
    width: 30em;
    margin-bottom: 20px;
}
.main>h1{
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 125px;
    padding-right: 200px;
    padding-top: 60px;
    padding-bottom: 30px;
    font-size: 60px;
    text-shadow: 5px 5px 2px gray;
}
.main>p{
    font-size: 20px;
    margin-right: 130px;
    padding: 20px;
    font-weight: bold;

}
.main>input[type=text]{
    width: 230px;
    height: 30px;
    box-shadow: 2px 3px 6px black;
}
.main>input[type=text]:hover{
    border: none;
    border-bottom: 2px solid lightseagreen;
    cursor: pointer;
}
.main>input[type=text]:focus{
    border: none;
    border-bottom: 2px solid greenyellow;
    cursor: pointer;
    outline: none;
}
.main>input[type=password]{
    width: 230px;
    height: 30px;
    box-shadow: 2px 3px 6px black;
}
.main>input[type=password]:hover{
    border: none;
    border-bottom: 2px solid lightseagreen;
    cursor: pointer;
}
.main>input[type=password]:focus{
    border: none;
    border-bottom: 2px solid greenyellow;
    cursor: pointer;
    outline: none;
}
.main>a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.884);
    margin-left: 120px;
    margin-top: 70px;
}
.main>button{
    background: linear-gradient(to right,cyan,rgba(247, 35, 247, 0.822),rgb(250, 53, 86));
    width: 230px;
    height: 40px;
    margin-top: 30px;
    border-radius: 20px;
    border: 1px solid white;
    font-size: 20px;
    text-transform: uppercase;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    color: white;
}
.main>span{
    color: rgba(0, 0, 0, 0.863);
    margin-bottom: 100px;
    margin-top: -100px;
}
.link{
      display: flex;
}
.link a{
    width: 60px;
    height: 60px;
    text-decoration: none;
    color: #000;
    text-align: center;
    box-shadow: 0 0 20px 10px rgba(0, 0, 0, 0.5);
    margin: 0 50px;
    border-radius: 50%;
    margin-top: 20px;
}
.link a .fa-brands {
    font-size: 30px;
    line-height: 60px;
    /* position: relative; */
    /* z-index: 10; */
    /* transition: color0.5s; */
}
.link a:hover{
     background-color: #000;
     color: white;
     transition: 0.5s;
}
/* .link a::after{
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(-45deg,cyan,rgb(218, 5, 218));
      position: absolute; this problem 
     transition: 0.5s
    } */
   .last a{
    text-decoration: none;
   }
   .last a:hover{
    background-color: #000;
    color: white;
    padding: 5px;
    transition: 0.5s;
    border: 2px solid blue;
   }
   .last p{
    cursor: pointer;
    color: #000000cc;
    font-weight: bolder;
   }