.main{
    background-color: yellow;
    height: 400px;
    width: 400px;
    border-radius: 50%;
    margin-left: 450px;
    margin-top: 100px;
    box-shadow: inset 0px 0px 100px rgb(255, 72, 0);    
}
.a{ 
    background-color: black;
    height: 100px;
    width: 100px;
    margin-left: 520px;
    margin-top: -310px;
    border-radius: 50%;
    box-shadow: 5px 6px 2px white;
}
.b{
    background: linear-gradient(to right,hsla(0, 9%, 98%, 0.897),rgba(128, 128, 128, 0.13));
   height: 70px;
   width: 55px; 
   border-radius: 50%;
   margin-left: 535px;
   margin-top: -100px;
   rotate: 60deg;
   /* text-align: center; */
   /* overflow: hidden; */
   /* color: red; */
}
.c{
    background: linear-gradient(to right, rgba(216, 212, 212, 0.815),rgb(252, 250, 250));
    height: 22px;
    width: 30px;
    margin-left: 575px;
    border-radius: 50%;
    margin-top: -2px;
    rotate: -30deg;
} 
/* eye */
.d{
   background: linear-gradient(to right,rgb(99, 98, 98),black);
    height: 10px;
    width: 100px;
    border: 1px solid transparent;
    border-bottom-color: black ;
    border-radius: 50%;
    margin-left: 510px;
    margin-top: -110px;
    transform: rotate(-20deg);
}
.e{
    background-color: black;
    height: 100px;
    width: 100px;
    margin-left: 670px;
    margin-top: 8px;
    border-radius: 50%;   
    box-shadow: 5px 6px 2px white;
}
.f{
    background: linear-gradient(to right,hsla(0, 9%, 98%, 0.904),rgba(128, 128, 128, 0.171));
    height: 70px;
    width: 55px; 
    border-radius: 50%;
    margin-left: 685px;
    margin-top: -100px;
    rotate: 60deg; 
}
.g{
    background: linear-gradient(to right, rgba(216, 212, 212, 0.815),rgb(252, 250, 250));
    height: 22px;
    width: 30px;
    margin-left: 725px;
    border-radius: 50%;
    margin-top: -2px;
    rotate: -30deg;
}
.h{
    background: linear-gradient(to left,rgb(99, 98, 98),black);
    height: 10px;
    width: 100px;
    border: 1px solid transparent;
    border-bottom-color: black ;
    border-radius: 50%;
    margin-left: 675px;
    margin-top: -110px;
    transform: rotate(20deg);  
}
 /* th{
    margin-left: 580px ;
    margin-top: 160px;font-size: 12px; 
    border: 1px solid black;
    

}  */
/*
.j{
    background-color: yellow;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 610px;
    margin-top:-80px;
}
.k{
    background-color: yellow;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 615px;
    margin-top: -200px;
} */
 .i{
     background-color: black;
    height: 35px;
    width: 155px;
    border-radius: 50%;
    margin-left: 575px;
    margin-top: 200px;
    /* rotate: 50deg; */
} 
/* .j{
   background: linear-gradient(to right,yellow,yellow,black,black);
    height: 10px;
   width: 100px;
   border-radius: 50%;
   margin-left: 655px;
   margin-top: 7px;
   rotate: 50deg;
} */
